// =============================================================================
// About
// =============================================================================

.about {
  h1 {
    margin: 50px 0 15px;
  }
}
