// =============================================================================
// About
// =============================================================================

.about {
  h1 {
    margin: 100px 0 15px;
  }
}
